<div
  class="flex flex-col flex-1 rounded-3xl overflow-hidden bg-can-500 shadow-sm mb-8 mx-4"
>
  <div class="card-item h-2/3">
    <img class="w-full" [src]="article.thumbnail" />
  </div>
  <div class="card-item p-4 text-sm">
    <p class="text-soup-900">{{ article.title }}</p>
    <div class="flex justify-between mt-3">
      <a
        class="text-xs font-bold text-soup-900"
        [routerLink]="'read/' + article.key"
        >Read more...</a
      >
      <div class="flex items-center">
        <img src="/assets/icons/calendar.svg" class="w-4 h-4 mr-1" />
        <span class="text-xs text-soup-900">{{ article.date | date }}</span>
      </div>
    </div>
  </div>
</div>
