<div
  class="flex flex-col flex-1 rounded-3xl overflow-hidden bg-can-500 mb-8 mx-4 cursor-pointer shadow-md hover:shadow-soup-200 transition-shadow"
  [routerLink]="'/reader/' + article.key"
>
  <div class="card-item h-2/3">
    <img class="w-full" [src]="article.thumbnail" />
  </div>
  <div class="card-item p-4 text-sm">
    <p class="text-soup-900">
      {{ article.title }}
    </p>
    <div class="flex justify-between mt-3">
      <div>
        <mat-icon color="primary" class="mx-0.5">article</mat-icon>
        <mat-icon color="primary" *ngIf="article.videoUrl" class="mx-0.5"
          >video_library</mat-icon
        >
      </div>
      <div class="flex items-center">
        <img src="/assets/icons/calendar.svg" class="w-5 h-5 mr-1" />
        <span class="text-xs text-soup-900">{{ article.date | date }}</span>
      </div>
    </div>
  </div>
</div>
