<div
  style="background-image: url('/assets/images/wallpaper-soup.jpg')"
  class="-mt-16 z-0 top-0 left-0 w-full h-1/2 bg-cover sm:bg-center flex flex-col items-center justify-center text-center"
>
  <h1 class="text-6xl text-can-50 font-bold">PRIMORDIAL SOUP</h1>
</div>
<div></div>
<main class="bg-can-600 w-full flex flex-col items-center px-4">
  <div class="max-w-4xl">
    <section class="flex justify-between items-center">
      <img
        src="/assets/images/discobolus.png"
        alt="discobolus statue"
        class="w-72"
      />
      <div class="text-soup-900 text-justify max-w-lg">
        <h2 class="text-3xl font-bold mb-2">Lorem, ipsum dolor.</h2>
        <p class="mb-2">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo,
          labore?
        </p>
        <p class="mb-2">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias ad
          voluptatibus reprehenderit!
        </p>
        <p class="mb-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
          ad! Quidem explicabo vero aperiam consequuntur?
        </p>
      </div>
    </section>
    <section class="flex flex-row-reverse justify-between items-center">
      <img
        src="/assets/images/venus.png"
        alt="venus statue"
        class="w-72 rounded-full"
      />
      <div class="text-soup-900 text-justify max-w-lg">
        <h2 class="text-3xl font-bold mb-2">Lorem, ipsum dolor.</h2>
        <p class="mb-2">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo,
          labore?
        </p>
        <p class="mb-2">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias ad
          voluptatibus reprehenderit!
        </p>
        <p class="mb-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
          ad! Quidem explicabo vero aperiam consequuntur?
        </p>
      </div>
    </section>
    <section class="flex justify-between items-center">
      <img
        src="/assets/images/hercules.png"
        alt="hercules statue"
        class="w-60 rounded-b-full"
      />
      <div class="text-soup-900 text-justify max-w-lg">
        <h2 class="text-3xl font-bold mb-2">Lorem, ipsum dolor.</h2>
        <p class="mb-2">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo,
          labore?
        </p>
        <p class="mb-2">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias ad
          voluptatibus reprehenderit!
        </p>
        <p class="mb-2">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati,
          ad! Quidem explicabo vero aperiam consequuntur?
        </p>
      </div>
    </section>
    <section class="flex flex-row-reverse justify-between items-center">
      <img
        src="/assets/images/laocoon.png"
        alt="hercules statue"
        class="w-60 rounded-b-full"
      />
      <div class="text-soup-900 text-justify max-w-lg">
        <h2 class="text-3xl font-bold mb-2">Support Us</h2>
        <p class="mb-2">
          Our goal is to provide free educational content, but there are ways
          with which you can help us. Donate as much as you want, whenever you
          want. Your contribution will be appreciated.
        </p>
        <p class="mb-2">
          <img
            src="/assets/icons/paypal.svg"
            alt="paypal"
            class="inline w-6 mr-2"
          />
          Paypal: UIFHD68565AHFJ972354
        </p>
        <p class="mb-2">
          <img
            src="/assets/icons/bitcoin.svg"
            alt="bitcoin"
            class="inline w-6 mr-2"
          />
          Bitcoin: HUSIDF8235789HFOIFD0348
        </p>
        <p class="mb-2">
          <img
            src="/assets/icons/monero.svg"
            alt="monero"
            class="inline w-6 mr-2"
          />
          Monero: HUSIDF8235789HFOIFD0348
        </p>
      </div>
    </section>
  </div>
</main>
