<div
  class="w-full flex items-center justify-between py-2 px-4 bg-soup-600 text-can-50 text-sm"
>
  <span>&copy; Primordial Soup</span>
  <div class="flex items-center">
    <a [href]="links.facebook" target="_blank">
      <img
        src="/assets/icons/facebook-square-brands.svg"
        alt="facebook"
        class="w-6 h-6 mx-1"
      />
    </a>
    <a [href]="links.instagram" target="_blank">
      <img
        src="/assets/icons/instagram-brands.svg"
        alt="instagram"
        class="w-6 h-6 mx-1"
      />
    </a>
    <a [href]="links.youtube" target="_blank">
      <img
        src="/assets/icons/youtube-brands.svg"
        alt="youtube"
        class="w-6 h-6 mx-1"
      />
    </a>
    <a [href]="links.githubRepo" target="_blank">
      <img
        src="/assets/icons/github-brands.svg"
        alt="github"
        class="w-6 h-6 mx-1"
      />
    </a>
  </div>
</div>
