// Add tailwind directives
@tailwind base;
@tailwind components;
@tailwind utilities;

// Global styles
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
