// Fonts
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");

// Add tailwind directives
@tailwind base;
@tailwind components;
@tailwind utilities;

// Global styles
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Merriweather", serif;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

span,
a {
  font-family: Arial, Helvetica, sans-serif;
}

input {
  font-family: "Merriweather", serif;
}

button {
  font-family: "Merriweather", serif;
}

button span {
  font-family: "Merriweather", serif;
}

::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: #e8d0e4;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: #2b1726;
  border-radius: 10px;
}

.license-text {
  font-family: Arial, Helvetica, sans-serif;
}
