// Fonts
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap");

// Add tailwind directives
@tailwind base;
@tailwind components;
@tailwind utilities;

// Global styles
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Merriweather", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

span,
input,
a {
  font-family: Arial, Helvetica, sans-serif;
}
