@use "~@angular/material" as mat;

@include mat.core();

// Custom theme

$primary: #42273b;
$accent: #f2e3ef;

$primary-palette: (
  50: #e8e5e7,
  100: #c6bec4,
  200: #a1939d,
  300: #7b6876,
  400: #5e4758,
  500: #42273b,
  600: #3c2335,
  700: #331d2d,
  800: #2b1726,
  900: #1d0e19,
  A100: #ff5fca,
  A200: #ff2cb9,
  A400: #f800a5,
  A700: #df0094,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$accent-palette: (
  50: #fdfcfd,
  100: #fbf7fa,
  200: #f9f1f7,
  300: #f6ebf4,
  400: #f4e7f1,
  500: #f2e3ef,
  600: #f0e0ed,
  700: #eedceb,
  800: #ecd8e8,
  900: #e8d0e4,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primordial-primary: mat.define-palette($primary-palette);
$primordial-accent: mat.define-palette($accent-palette);

$primordial-theme: mat.define-light-theme(
  (
    color: (
      primary: $primordial-primary,
      accent: $primordial-accent,
    ),
  )
);

@include mat.all-component-themes($primordial-theme);
